:root{
    --white: #FFF;
    --grey-dark: #AAA9A9;
    --grey: #CCCACA;
    --grey-light: #E6E4E4;
    --blue: rgb(19, 149, 209);
    --blue-light: rgb(64, 191, 241);
    --width: 45%;
    --center: 50%;
    --radius: 100%;
    --padding: 0.5em;
    --width-bef: 0.4em;
    --height-bef: 0.4em;
    --border-before: 0.2em;
    --border-after: 10px;
    --top: 0;
    --bottom: 0;
}
body{
    background-color: var(--grey);
    font-family: 'Poppins', sans-serif;
}
.timeline{
    width: 80vw;
    margin: auto;
    background-color: var(--grey-light);
    opacity: 0.95;
}
.timeline header{
    text-align: center;
    padding-top: 3em;
}
.timeline header h1{
    font-size: 1.8em;
    font-weight: 600;
}
.timeline header h2{
    font-size: 0.8em;
    opacity: 0.5;
    padding-top: var(--padding);
}
.timeline>ol{
    position: relative;
}
.timeline>ol::before{
    content: "";
    width: 3px;
    height: 97%;
    background-color: var(--blue);
    position: absolute;
    left: calc(var(--center) - 3px / 2);
    z-index: -1;
    top: 3em;
}
.timeline>ol>li{
    text-align: center;
}
.timeline>ol>li>h3{
    background-color: var(--grey-dark);
    padding: 1em;
    display: inline-block;
    color: var(--white);
    width: 11%;
    margin-top: 3em;
    margin-bottom: 1.5em;
    border-radius: 0.3em;
}
.timeline>ol>li>ol>li{
    background-color: var(--white);
    width: var(--width);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: var(--padding);
    position: relative;
    border-radius: 0.2em;
    line-height: 1.2em;
}
.timeline>ol>li>ol>li h4{
    padding-top: var(--padding);
    padding-bottom: 0.2em;
    font-size: 0.85em;
}
.timeline>ol>li>ol>li p{
    font-size: 0.7em;
    opacity: 0.6;
    padding-bottom: 0.8em;
}
.timeline>ol>li>ol>li i{
    color: var(--blue-light);
    position: absolute;
}
.timeline>ol>li>ol>li:nth-child(even) i{
    top: 1.2em;
}
.timeline>ol>li>ol>li:nth-child(odd) i{
    top: 1.2em;
    right: 0.7em;
}
.timeline>ol>li>ol>li:nth-child(even){
    margin-left: calc(100% - var(--width) - 2 * var(--padding));
    text-align: left;
}
.timeline>ol>li>ol>li:nth-child(odd){
    text-align: right;
}
.timeline>ol>li>ol>li:nth-child(even)>i+h4{
    margin-left: 2em;
}
.timeline>ol>li>ol>li:nth-child(even)>i+h4+p{
    margin-left: 2.4em;
}
.timeline>ol>li>ol>li:nth-child(odd)>i+h4{
    margin-right: 2em;
}
.timeline>ol>li>ol>li:nth-child(odd)>i+h4+p{
    margin-right: 2.4em;
}
.timeline>ol>li>ol>li:nth-child(odd)>h4{
    margin-right: 1em;
}
.timeline>ol>li>ol>li:nth-child(odd)>h4+p{
    margin-right: 1.2em;
}
.timeline>ol>li>ol>li:nth-child(even)::before{
    content: "";
    position: absolute;
    background-color: var(--blue);
    left: calc( var(--width) - var(--center) - var(--width-bef) - var(--width-bef) / 2 - var(--border-before));
    width: var(--width-bef);
    height: var(--height-bef);
    border-radius: var(--radius);
    border: var(--border-before) solid var(--grey-light);
    top: var(--top);
    bottom: var(--bottom);
    margin: auto;
}
.timeline>ol>li>ol>li:nth-child(odd)::before{
    content: "";
    position: absolute;
    background-color: var(--blue);
    right: calc( var(--width) - var(--center) - var(--width-bef) - var(--width-bef) / 2 - var(--border-before));
    width: var(--width-bef);
    height: var(--height-bef);
    border-radius: var(--radius);
    border: var(--border-before) solid var(--grey-light);
    top: var(--top);
    bottom: var(--bottom);
    margin: auto;
}
.timeline>ol>li>ol>li:nth-child(even)::after{
    content: "";
    position: absolute;
    left: calc( - 1px / 2 - var(--border-after) * 2);
    width: 1px;
    height: 2.5px;
    border: var(--border-after) solid var(--white);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: var(--top);
    bottom: var(--bottom);
    margin: auto;
}
.timeline>ol>li>ol>li:nth-child(odd)::after{
    content: "";
    position: absolute;
    right: calc( - 1px / 2 - var(--border-after) * 2);
    width: 1px;
    height: 2.5px;
    border: var(--border-after) solid var(--white);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top: var(--top);
    bottom: var(--bottom);
    margin: auto;
}
@media (max-width: 800px){
    .timeline{
        width: 95vw;
    }
    .timeline header{
        text-align: left;
        padding-left: 2vw;
    }    
    .timeline>ol>li{
        text-align: left;
        padding-left: 2vw;
    }
    .timeline>ol>li>h3{
        width: 16%;
        text-align: center;
    }
    .timeline>ol::before{
        left: 5vw;
    }
    .timeline>ol>li>ol>li{
        width: 85%;
        margin-left: 7vw;
    }
    .timeline>ol>li>ol>li:nth-child(even){
        margin-left: 7vw;
    }
    .timeline>ol>li>ol>li:nth-child(odd){
        text-align: left;
    }
    .timeline>ol>li>ol>li:nth-child(even)::before{
        left: calc(-2.8vw - var(--width-bef) - var(--width-bef) / 2 - var(--border-before))
    }
    .timeline>ol>li>ol>li:nth-child(odd)::before{
        right: calc(100% + 2.8vw);
    }
    .timeline>ol>li>ol>li:nth-child(odd) i{
        top: 1.2em;
        left: 0.7em;
    }
    .timeline>ol>li>ol>li:nth-child(odd)>i+h4{
        margin-left: 2em;
    }
    .timeline>ol>li>ol>li:nth-child(odd)>i+h4+p{
        margin-left: 2.4em;
    }
    .timeline>ol>li>ol>li:nth-child(odd)>h4{
        margin-left: 1em;
    }
    .timeline>ol>li>ol>li:nth-child(odd)>h4+p{
        margin-left: 1.2em;
    }
    .timeline>ol>li>ol>li:nth-child(odd)::after{
        right: 100%;
        border-right-color: var(--white);
        border-left-color: transparent;
    }
}